---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time> &#8226; <span class="post-meta__tags tags">{{page.tags | join:' '}}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>

{% include read-more.html %}
{% include comments.html %}



<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://www.wenjunjiang.win/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    owner: 'iyohey',
    repo: 'iyohey.github.io',
    oauth: {
        client_id: '9ba9ea5cd8b7f03722af',
        client_secret: '8dee58b2c64455050081a5d7b077edcf39fc7973',
        
    },
});
gitment.render('gitmentContainer');
</script>
